*.py linguist-detectable=true
*.css linguist-detectable=true
*.html linguist-detectable=true

app.py linguist-language=Python

style.css linguist-language=CSS
login_header.html linguist-language=HTML
